http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1126%2Fscience.162.3859.1243%7C10.1038%2F35002501%7C10.1111%2Fj.1461-0248.2005.00792.x%7C10.xxxx%2Fxxxx%7C10.21105%2Fjoss.09217&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9239'
      x-ratelimit-remaining-usd: '0.9239'
      x-ratelimit-reset: '34394'
    body:
      string: '{"meta": {"count": 4, "db_response_time_ms": 27, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W2162348455",
        "doi": "https://doi.org/10.1038/35002501", "title": "Biodiversity hotspots
        for conservation priorities", "display_name": "Biodiversity hotspots for conservation
        priorities", "publication_year": 2000, "publication_date": "2000-02-01", "ids":
        {"openalex": "https://openalex.org/W2162348455", "doi": "https://doi.org/10.1038/35002501",
        "mag": "2162348455", "pmid": "https://pubmed.ncbi.nlm.nih.gov/10706275"},
        "language": "en", "primary_location": {"id": "doi:10.1038/35002501", "is_oa":
        false, "landing_page_url": "https://doi.org/10.1038/35002501", "pdf_url":
        null, "source": {"id": "https://openalex.org/S137773608", "display_name":
        "Nature", "issn_l": "0028-0836", "issn": ["0028-0836", "1476-4687"], "is_oa":
        false, "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4310319908",
        "host_organization_name": "Nature Portfolio", "host_organization_lineage":
        ["https://openalex.org/P4310319908", "https://openalex.org/P4310319965"],
        "host_organization_lineage_names": ["Nature Portfolio", "Springer Nature"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Nature", "raw_type":
        "journal-article"}, "type": "article", "indexed_in": ["crossref", "pubmed"],
        "open_access": {"is_oa": true, "oa_status": "green", "oa_url": "https://zotero.org/groups/5435545/items/XQ6FEZV5",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5109070857", "display_name":
        "Norman Myers", "orcid": null}, "institutions": [{"id": "https://openalex.org/I40120149",
        "display_name": "University of Oxford", "ror": "https://ror.org/052gg0110",
        "country_code": "GB", "type": "education", "lineage": ["https://openalex.org/I40120149"]}],
        "countries": ["GB"], "is_corresponding": true, "raw_author_name": "Norman
        Myers", "raw_affiliation_strings": ["Green College, Oxford University, Headington,
        UK. myers1n@aol.com", "Green College, Oxford University, Upper Meadow, Old
        Road, Headington, Oxford,  OX3 8SZ, UK"], "raw_orcid": null, "affiliations":
        [{"raw_affiliation_string": "Green College, Oxford University, Headington,
        UK. myers1n@aol.com", "institution_ids": ["https://openalex.org/I40120149"]},
        {"raw_affiliation_string": "Green College, Oxford University, Upper Meadow,
        Old Road, Headington, Oxford,  OX3 8SZ, UK", "institution_ids": ["https://openalex.org/I40120149"]}]},
        {"author_position": "middle", "author": {"id": "https://openalex.org/A5030139784",
        "display_name": "Russell A. Mittermeier", "orcid": "https://orcid.org/0000-0002-8002-826X"},
        "institutions": [{"id": "https://openalex.org/I1316901054", "displa[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1126%2Fscience.162.3859.1243%7C10.1038%2F35002501%7C10.1111%2Fj.1461-0248.2005.00792.x%7C10.xxxx%2Fxxxx%7C10.21105%2Fjoss.09217&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9238'
      x-ratelimit-remaining-usd: '0.9238'
      x-ratelimit-reset: '34393'
    body:
      string: '{"meta": {"count": 4, "db_response_time_ms": 40, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2162348455", "doi": "https://doi.org/10.1038/35002501",
        "title": "Biodiversity hotspots for conservation priorities", "display_name":
        "Biodiversity hotspots for conservation priorities", "publication_year": 2000,
        "publication_date": "2000-02-01", "ids": {"openalex": "https://openalex.org/W2162348455",
        "doi": "https://doi.org/10.1038/35002501", "mag": "2162348455", "[...]
