http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.xxxx%2Fxxxx&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8724'
      x-ratelimit-remaining-usd: '0.8724'
      x-ratelimit-reset: '43509'
    body:
      string: '{"meta": {"count": 0, "db_response_time_ms": 31, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [], "group_by": []}'
  recorded_at: 2026-05-27 11:54:51
recorded_with: VCR-vcr/2.1.0
