http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.5281%2Fzenodo.7390791&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9544'
      x-ratelimit-remaining-usd: '0.9544'
      x-ratelimit-reset: '15329'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 21, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W4393830903",
        "doi": "https://doi.org/10.5281/zenodo.7390791", "title": "The FORCIS database:
        A global census of planktonic Foraminifera from ocean waters", "display_name":
        "The FORCIS database: A global census of planktonic Foraminifera from ocean
        waters", "publication_year": 2024, "publication_date": "2024-07-11", "ids":
        {"openalex": "https://openalex.org/W4393830903", "doi": "https://doi.org/10.5281/zenodo.7390791"},
        "language": "en", "primary_location": {"id": "pmh:oai:HAL:hal-05103254v1",
        "is_oa": true, "landing_page_url": "https://hal.science/hal-05103254", "pdf_url":
        null, "source": {"id": "https://openalex.org/S4306402512", "display_name":
        "HAL (Le Centre pour la Communication Scientifique Directe)", "issn_l": null,
        "issn": null, "is_oa": false, "is_in_doaj": false, "is_core": false, "host_organization":
        "https://openalex.org/I1294671590", "host_organization_name": "Centre National
        de la Recherche Scientifique", "host_organization_lineage": ["https://openalex.org/I1294671590"],
        "host_organization_lineage_names": [], "type": "repository"}, "license": "cc-by",
        "license_id": "https://openalex.org/licenses/cc-by", "version": "submittedVersion",
        "is_accepted": false, "is_published": false, "raw_source_name": "2025, &#x27E8;10.5281/zenodo.7390791&#x27E9;",
        "raw_type": "Other publications"}, "type": "dataset", "indexed_in": ["datacite"],
        "open_access": {"is_oa": true, "oa_status": "green", "oa_url": "https://hal.science/hal-05103254",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5052437613", "display_name":
        "Sonia Chaabane", "orcid": "https://orcid.org/0000-0002-4653-8610"}, "institutions":
        [{"id": "https://openalex.org/I4210104942", "display_name": "Centre de Recherche
        et d\u2019Enseignement de G\u00e9osciences de l\u2019Environnement", "ror":
        "https://ror.org/01pa4h393", "country_code": "FR", "type": "facility", "lineage":
        ["https://openalex.org/I1294671590", "https://openalex.org/I1294671590", "https://openalex.org/I1294671590",
        "https://openalex.org/I1294671590", "https://openalex.org/I1294671590", "https://openalex.org/I1327553481",
        "https://openalex.org/I1327553481", "https://openalex.org/I154202486", "https://openalex.org/I154202486",
        "https://openalex.org/I187986737", "https://openalex.org/I21491767", "https://openalex.org/I21491767",
        "https://openalex.org/I2746051580", "https://openalex.org/I2799535048", "https://openalex.org/I2799535048",
        "https://openalex.org/I2802818602", "https://openalex.org/I2802818602", "https://openalex.org/I4210088668",
        "https://openalex.org/I4210088668", "https://openalex.org/I4210088668", "https://openalex.org/I4210088668",
        "https://openalex.org/I4210090127", "https://openalex.org/I4210090127", "https://openalex.org/I4210093025",
        "https://openalex.org/I4210104942", "https://openalex.org/I4210113730", "https://openalex.org/I4210113730",
        "https://openalex.org/I4210131494", "https://openalex.org/I4210131494", "https://openalex.org/I4210148025",
        "https://openalex.org/I4210166444", "https://openalex.org/I4210166444", "https://openalex.org/I4405257220",
        "https://openalex.org/I4405257220"]}], "countries": ["FR"], "is_corresponding":
        true, "raw_author_name": "Chaabane, Sonia", "raw_affiliation_strings": ["CEREGE,
        France and Max Planck, Germany"], "raw_orcid": "https://orcid.org/0000-0002-4653-8610",
        "affiliations": [{"raw_affiliation_string": "CEREGE, France and Max Planck,
        Germany", "institution_ids": ["https://openalex.org/I4210104942"]}]}, {"author_position":
        "middle", "author": {"id": "https://openalex.org/A5041069138", "display_name":
        "Thibault de Garidel\u2010Thoron", "orcid": "https://orcid.org/0000-0001-8983-9571"},
        "institutions": [{"id": "https://openalex.org/I4210104942", "display_name":
        "Centre de Recherche et d\u2019Enseignement de G\u00e9osciences de l\u2019Environnement",
        "ror": "https://ror.org/01pa4h393", "country_code": "FR", "type": "[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.5281%2Fzenodo.7390791&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9543'
      x-ratelimit-remaining-usd: '0.9543'
      x-ratelimit-reset: '15329'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 38, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W4393830903", "doi": "https://doi.org/10.5281/zenodo.7390791",
        "title": "The FORCIS database: A global census of planktonic Foraminifera
        from ocean waters", "display_name": "The FORCIS database: A global census
        of planktonic Foraminifera from ocean waters", "publication_year": 2024, "publication_date":
        "2024-07-11", "ids": {"openalex": "https://openalex.org/W43938309[...]
