http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1126%2Fscience.162.3859.1243&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9237'
      x-ratelimit-remaining-usd: '0.9237'
      x-ratelimit-reset: '34392'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 10, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W2226396244",
        "doi": "https://doi.org/10.1126/science.162.3859.1243", "title": "The Tragedy
        of the Commons", "display_name": "The Tragedy of the Commons", "publication_year":
        1968, "publication_date": "1968-12-13", "ids": {"openalex": "https://openalex.org/W2226396244",
        "doi": "https://doi.org/10.1126/science.162.3859.1243", "mag": "2226396244",
        "pmid": "https://pubmed.ncbi.nlm.nih.gov/17756331"}, "language": "en", "primary_location":
        {"id": "doi:10.1126/science.162.3859.1243", "is_oa": false, "landing_page_url":
        "https://doi.org/10.1126/science.162.3859.1243", "pdf_url": null, "source":
        {"id": "https://openalex.org/S3880285", "display_name": "Science", "issn_l":
        "0036-8075", "issn": ["0036-8075", "1095-9203"], "is_oa": false, "is_in_doaj":
        false, "is_core": true, "host_organization": "https://openalex.org/P4310315823",
        "host_organization_name": "American Association for the Advancement of Science",
        "host_organization_lineage": ["https://openalex.org/P4310315823"], "host_organization_lineage_names":
        ["American Association for the Advancement of Science"], "type": "journal"},
        "license": null, "license_id": null, "version": "publishedVersion", "is_accepted":
        true, "is_published": true, "raw_source_name": "Science", "raw_type": "journal-article"},
        "type": "article", "indexed_in": ["crossref", "pubmed"], "open_access": {"is_oa":
        false, "oa_status": "closed", "oa_url": null, "any_repository_has_fulltext":
        false}, "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5111448232",
        "display_name": "Garrett Hardin", "orcid": null}, "institutions": [{"id":
        "https://openalex.org/I1311206647", "display_name": "American Association
        For The Advancement of Science", "ror": "https://ror.org/05j0w0e76", "country_code":
        "US", "type": "nonprofit", "lineage": ["https://openalex.org/I1311206647"]}],
        "countries": ["US"], "is_corresponding": true, "raw_author_name": "Garrett
        Hardin", "raw_affiliation_strings": ["The author is professor of biology,
        University of California, Santa Barbara. This article is based on a presidential
        address presented before the meeting of the Pacific Division of the American
        Association for the Advancement of Science at Utah State University, Logan,
        25 June 1968"], "raw_orcid": null, "affiliations": [{"raw_affiliation_string":
        "The author is professor of biology, University of California, Santa Barbara.
        This article is based on a presidential address presented before the meeting
        of the Pacific Division of the American Association for the Advancement of
        Science at Utah State University, Logan, 25 June 1968", "institution_ids":
        ["https://openalex.org/I1311206647"]}]}], "institutions": [], "countries_distinct_count":
        1, "institutions_distinct_count": 1, "corresponding_author_ids": ["https://openalex.org/A5111448232"],
        "corresponding_institution_ids": ["https://openalex.org/I1311206647"], "apc_list":
        null, "apc_paid": null, "fwci": 276.0403, "has_fulltext": false, "cited_by_count":
        22837, "citation_normalized_percentile": {"value": 1.0, "is_in_top_1_percent":
        true, "is_in_top_10_percent": true}, "cited_by_percentile_year": {"min": 99,
        "max": 100}, "biblio": {"volume": "162", "issue": "3859", "first_page": "1243",
        "last_page": "1248"}, "is_retracted": false, "is_paratext": false, "is_xpac":
        false, "primary_topic": {"id": "https://openalex.org/T11252", "display_name":
        "Evolutionary Game Theory and Cooperation", "score": 0.031300000846385956,
        "subfield": {"id": "https://openalex.org/subfields/3312", "display_name":
        "Sociology and Political Science"}, "field": {"id": "https://openalex.org/fields/33",
        "display_name": "Social Sciences"}, "domain": {"id": "https://openalex.org/domains/2",
        "display_name": "Social Sciences"}}, "topics": [{"id": "https://openalex.org/T11252",
        "display_name": "Evolutionary Game Theory and Cooperation", "score": 0.031300000846385956,
        "subfield": {"id": "https://openalex.org/subfields/3312", "display_name":
        "Sociology and Political Science"}, "field": {"id": "https://openalex.org/fields/33",
        "display_name": "Social Sciences"}, "domain": {"id": "https://openalex.org/domains/2",
        "display_name": "Social Sciences"}}, {"id": "https://openalex.org/T12788",
        "display_name": "Space Science and Extraterrestrial Life", "score": 0.02850000001490116,
        "subfield": {"id": "https://openalex.org/subfields/3103", "display_name":
        "Astronomy and Astrophysics"}, "field": {"id": "https://openalex.org/fields/31",
        "display_name": "Physics and Astronomy"}, "domain": {"id": "https://openalex.org/domains/3",
        "display_name": "Physical Sciences"}}, {"id": "https://openalex.org/T14350",
        "display_name": "Innovation, Sustainability, Human-Machine Systems", "score":
        0.024399999529123306, "subfield": {"id": "https://openalex.org/subfields/3312",
        "display_name": "Sociology and Political Science"}, "field": {"id": "https://openalex.org/fields/33",
        "display_name": "Social Sciences"}, "domain": {"id": "https://openalex.org/domains/2",
        "display_name": "Social Sciences"}}], "keywords": [{"id": "https://openalex.org/keywords/tragedy-of-the-commons",
        "display_name": "Tragedy of the commons", "score": 0.7910512685775757}, {"id":
        "https://openalex.org/keywords/tragedy", "display_name": "Tragedy (event)",
        "score": 0.6399936079978943}, {"id": "https://openalex.org/keywords/commons",
        "display_name": "Commons", "score": 0.548051118850708}, {"id": "https://openalex.org/keywords/environmental-ethics",
        "display_name": "Environmental ethics", "score": 0.44521600008010864}, {"id":
        "https://openalex.org/keywords/political-science", "display_name": "Political
        science", "score": 0.38996389508247375}, {"id": "https://openalex.org/keywords/law-and-economics",
        "display_name": "Law and economics", "score": 0.36387670040130615}, {"id":
        "https://openalex.org/keywords/philosophy", "display_name": "Philosophy",
        "score": 0.24631533026695251}, {"id": "https://openalex.org/keywords/law",
        "display_name": "Law", "score": 0.20665067434310913}, {"id": "https://openalex.org/keywords/sociology",
        "display_name": "Sociology", "score": 0.18951085209846497}, {"id": "https://openalex.org/keywords/art",
        "display_name": "Art", "score": 0.17087167501449585}, {"id": "https://openalex.org/keywords/literature",
        "display_name": "Literature", "score": 0.12536907196044922}], "concepts":
        [{"id": "https://openalex.org/C15517945", "wikidata": "https://www.wikidata.org/wiki/Q334622",
        "display_name": "Tragedy of the commons", "level": 3, "score": 0.7910512685775757},
        {"id": "https://openalex.org/C2780027720", "wikidata": "https://www.wikidata.org/wiki/Q7832608",
        "display_name": "Tragedy (event)", "level": 2, "score": 0.6399936079978943},
        {"id": "https://openalex.org/C49427245", "wikidata": "https://www.wikidata.org/wiki/Q9828451",
        "display_name": "Commons", "level": 2, "score": 0.548051118850708}, {"id":
        "https://openalex.org/C95124753", "wikidata": "https://www.wikidata.org/wiki/Q8756[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1126%2Fscience.162.3859.1243&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9236'
      x-ratelimit-remaining-usd: '0.9236'
      x-ratelimit-reset: '34392'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 8, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2226396244", "doi": "https://doi.org/10.1126/science.162.3859.1243",
        "title": "The Tragedy of the Commons", "display_name": "The Tragedy of the
        Commons", "publication_year": 1968, "publication_date": "1968-12-13", "ids":
        {"openalex": "https://openalex.org/W2226396244", "doi": "https://doi.org/10.1126/science.162.3859.1243",
        "mag": "2226396244", "pmid": "https://pubm[...]
