http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id%3AA5004806463&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9995'
      x-ratelimit-remaining-usd: '0.9995'
      x-ratelimit-reset: '68100'
    body:
      string: '{"meta": {"count": 102, "db_response_time_ms": 18, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W2128827287",
        "doi": "https://doi.org/10.1111/j.1365-2486.2009.02000.x", "title": "Uncertainty
        in ensemble forecasting of species distribution", "display_name": "Uncertainty
        in ensemble forecasting of species distribution", "publication_year": 2009,
        "publication_date": "2009-06-22", "ids": {"openalex": "https://openalex.org/W2128827287",
        "doi": "https://doi.org/10.1111/j.1365-2486.2009.02000.x", "mag": "2128827287"},
        "language": "en", "primary_location": {"id": "doi:10.1111/j.1365-2486.2009.02000.x",
        "is_oa": true, "landing_page_url": "https://doi.org/10.1111/j.1365-2486.2009.02000.x",
        "pdf_url": "https://onlinelibrary.wiley.com/doi/pdfdirect/10.1111/j.1365-2486.2009.02000.x",
        "source": {"id": "https://openalex.org/S74970393", "display_name": "Global
        Change Biology", "issn_l": "1354-1013", "issn": ["1354-1013", "1365-2486"],
        "is_oa": false, "is_in_doaj": false, "is_core": true, "host_organization":
        "https://openalex.org/P4310320595", "host_organization_name": "Wiley", "host_organization_lineage":
        ["https://openalex.org/P4310320595"], "host_organization_lineage_names": ["Wiley"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Global Change
        Biology", "raw_type": "journal-article"}, "type": "article", "indexed_in":
        ["crossref"], "open_access": {"is_oa": true, "oa_status": "bronze", "oa_url":
        "https://onlinelibrary.wiley.com/doi/pdfdirect/10.1111/j.1365-2486.2009.02000.x",
        "any_repository_has_fulltext": false}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5078499253", "display_name":
        "La\u00ebtitia Buisson", "orcid": "https://orcid.org/0000-0001-6917-0348"},
        "institutions": [{"id": "https://openalex.org/I1294671590", "display_name":
        "Centre National de la Recherche Scientifique", "ror": "https://ror.org/02feahw73",
        "country_code": "FR", "type": "government", "lineage": ["https://openalex.org/I1294671590"]},
        {"id": "https://openalex.org/I134560555", "display_name": "Universit\u00e9
        Toulouse III - Paul Sabatier", "ror": "https://ror.org/02v6kpv12", "country_code":
        "FR", "type": "education", "lineage": ["https://openalex.org/I134560555"]},
        {"id": "https://openalex.org/I205747304", "display_name": "Institut National
        Polytechnique de Toulouse", "ror": "https://ror.org/033p9g875", "country_code":
        "FR", "type": "educat[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id%3AA5004806463&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9994'
      x-ratelimit-remaining-usd: '0.9994'
      x-ratelimit-reset: '68099'
    body:
      string: '{"meta": {"count": 102, "db_response_time_ms": 24, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2128827287", "doi": "https://doi.org/10.1111/j.1365-2486.2009.02000.x",
        "title": "Uncertainty in ensemble forecasting of species distribution", "display_name":
        "Uncertainty in ensemble forecasting of species distribution", "publication_year":
        2009, "publication_date": "2009-06-22", "ids": {"openalex": "https://openalex.org/W2128827287",
        "doi": "https://doi.org/10.11[...]
