http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1111%2Fj.1461-0248.2005.00792.x&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9538'
      x-ratelimit-remaining-usd: '0.9538'
      x-ratelimit-reset: '15326'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 43, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W2123337039",
        "doi": "https://doi.org/10.1111/j.1461-0248.2005.00792.x", "title": "Predicting
        species distribution: offering more than simple habitat models", "display_name":
        "Predicting species distribution: offering more than simple habitat models",
        "publication_year": 2005, "publication_date": "2005-08-15", "ids": {"openalex":
        "https://openalex.org/W2123337039", "doi": "https://doi.org/10.1111/j.1461-0248.2005.00792.x",
        "mag": "2123337039", "pmid": "https://pubmed.ncbi.nlm.nih.gov/34517687"},
        "language": "en", "primary_location": {"id": "doi:10.1111/j.1461-0248.2005.00792.x",
        "is_oa": false, "landing_page_url": "https://doi.org/10.1111/j.1461-0248.2005.00792.x",
        "pdf_url": null, "source": {"id": "https://openalex.org/S80967739", "display_name":
        "Ecology Letters", "issn_l": "1461-023X", "issn": ["1461-023X", "1461-0248"],
        "is_oa": false, "is_in_doaj": false, "is_core": true, "host_organization":
        "https://openalex.org/P4310320595", "host_organization_name": "Wiley", "host_organization_lineage":
        ["https://openalex.org/P4310320595"], "host_organization_lineage_names": ["Wiley"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Ecology Letters",
        "raw_type": "journal-article"}, "type": "review", "indexed_in": ["crossref",
        "datacite", "pubmed"], "open_access": {"is_oa": true, "oa_status": "green",
        "oa_url": "https://zotero.org/groups/5435545/items/7865KPPJ", "any_repository_has_fulltext":
        true}, "authorships": [{"author_position": "first", "author": {"id": "https://openalex.org/A5041324397",
        "display_name": "Antoine Guisan", "orcid": "https://orcid.org/0000-0002-3998-4815"},
        "institutions": [{"id": "https://openalex.org/I97565354", "display_name":
        "University of Lausanne", "ror": "https://ror.org/019whta54", "country_code":
        "CH", "type": "education", "lineage": ["https://openalex.org/I97565354"]}],
        "countries": ["CH"], "is_corresponding": true, "raw_author_name": "Antoine
        Guisan", "raw_affiliation_strings": ["Laboratoire de Biologie de la Conservation
        (LBC), D\u00e9partement d''Ecologie et d''Evolution (DEE), Universit\u00e9
        de Lausanne, B\u00e2timent de Biologie, CH-1015 Lausanne, Switzerland", "Laboratoire
        de Biologie de la Conservation (LBC), D\u00e9partement d''Ecologie et d''Evolution
        (DEE), Universit\u00e9 de Lausanne, B\u00e2timent de Biologie, CH\u20101015
        Lausanne, Switzerland"], "raw_orcid": null, "affiliations": [{"raw_affiliation_string":
        "Laboratoire de Biologie de la Conservation (LBC), D\u00e9partement d''Ecologie
        et d''Evolution (DEE), Universit\u00e9 de Lausanne, B\u00e2timent de Biologie,
        CH-1015 Lausanne, Switzerland", "institution_ids": ["https://openalex.org/I97565354"]},
        {"raw_affiliation_string": "Laboratoire de Biologie de la Conservation (LBC),
        D\u00e9partement d''Ecologie et d''Evolution (DEE), Universit\u00e9 de Lausanne,
        B\u00e2timent de Biologie, CH\u20101015 Lausanne, Switzerland", "institution_ids":
        ["https://openalex.org/I97565354"]}]}, {"author_position": "last", "author":
        {"id": "https://openalex.org/A5072813166", "display_name": "Wilfried Thuiller",
        "orcid": "https[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.1111%2Fj.1461-0248.2005.00792.x&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9537'
      x-ratelimit-remaining-usd: '0.9537'
      x-ratelimit-reset: '15326'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 18, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W2123337039", "doi": "https://doi.org/10.1111/j.1461-0248.2005.00792.x",
        "title": "Predicting species distribution: offering more than simple habitat
        models", "display_name": "Predicting species distribution: offering more than
        simple habitat models", "publication_year": 2005, "publication_date": "2005-08-15",
        "ids": {"openalex": "https://openalex.org/W2123337039", "[...]
