http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.21105%2Fjoss.09217&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9230'
      x-ratelimit-remaining-usd: '0.923'
      x-ratelimit-reset: '34389'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 17, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W4415113473",
        "doi": "https://doi.org/10.21105/joss.09217", "title": "forcis: An R package
        for accessing, handling and analysing the FORCIS database", "display_name":
        "forcis: An R package for accessing, handling and analysing the FORCIS database",
        "publication_year": 2025, "publication_date": "2025-10-13", "ids": {"openalex":
        "https://openalex.org/W4415113473", "doi": "https://doi.org/10.21105/joss.09217"},
        "language": "en", "primary_location": {"id": "doi:10.21105/joss.09217", "is_oa":
        true, "landing_page_url": "https://doi.org/10.21105/joss.09217", "pdf_url":
        "https://joss.theoj.org/papers/10.21105/joss.09217.pdf", "source": {"id":
        "https://openalex.org/S4210214273", "display_name": "The Journal of Open Source
        Software", "issn_l": "2475-9066", "issn": ["2475-9066"], "is_oa": true, "is_in_doaj":
        true, "is_core": true, "host_organization": "https://openalex.org/P4310315853",
        "host_organization_name": "Open Journals", "host_organization_lineage": ["https://openalex.org/P4310315853"],
        "host_organization_lineage_names": ["Open Journals"], "type": "journal"},
        "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by", "version":
        "publishedVersion", "is_accepted": true, "is_published": true, "raw_source_name":
        "Journal of Open Source Software", "raw_type": "journal-article"}, "type":
        "article", "indexed_in": ["crossref", "doaj"], "open_access": {"is_oa": true,
        "oa_status": "diamond", "oa_url": "https://joss.theoj.org/papers/10.21105/joss.09217.pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5004806463", "display_name":
        "Nicolas Casajus", "orcid": "https://orcid.org/0000-0002-5537-5294"}, "institutions":
        [{"id": "https://openalex.org/I4210151099", "display_name": "Fondation Pour
        la Recherche Sur la Biodiversit\u00e9", "ror": "https://ror.org/05x5km989",
        "country_code": "FR", "type": "nonprofit", "lineage": ["https://openalex.org/I4210151099"]}],
        "countries": ["FR"], "is_corresponding": true, "raw_author_name": "Nicolas
        Casajus", "raw_affiliation_strings": ["Fondation pour la Recherche sur la
        Biodiversit\u00e9 (FRB-CESAB), Montpellier, France"], "raw_orcid": "https://orcid.org/0000-0002-5537-5294",
        "affiliations": [{"raw_affiliation_string": "Fondation pour la Recherche sur
        la Biodiversit\u00e9 (FRB-CESAB), Montpellier, France", "institution_ids":
        ["https://openalex.org/I4210151099"]}]}, {"author_position": "middle", "author":
        {"id": "https://openalex.org/A5052437613", "display_name": "Sonia Chaabane",
        "orcid": "https://orcid.org/0000-0002-4653-8610"}, "institutions": [{"id":
        "https://openalex.org/I1294671590", "display_name": "Centre National de la
        Recherche Scientifique", "ror": "https://ror.org/02feahw73", "country_code":
        "FR", "type": "government", "lineage": ["https://openalex.org/I129[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.21105%2Fjoss.09217&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9229'
      x-ratelimit-remaining-usd: '0.9229'
      x-ratelimit-reset: '34388'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 9, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W4415113473", "doi": "https://doi.org/10.21105/joss.09217",
        "title": "forcis: An R package for accessing, handling and analysing the FORCIS
        database", "display_name": "forcis: An R package for accessing, handling and
        analysing the FORCIS database", "publication_year": 2025, "publication_date":
        "2025-10-13", "ids": {"openalex": "https://openalex.org/W4415113473", "doi[...]
