http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.21105%2Fjoss.05753&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9924'
      x-ratelimit-remaining-usd: '0.9924'
      x-ratelimit-reset: '67409'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 15, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [{"id": "https://openalex.org/W4387609797",
        "doi": "https://doi.org/10.21105/joss.05753", "title": "chessboard: An R package
        for creating networkconnections based on chess moves", "display_name": "chessboard:
        An R package for creating networkconnections based on chess moves", "publication_year":
        2023, "publication_date": "2023-10-13", "ids": {"openalex": "https://openalex.org/W4387609797",
        "doi": "https://doi.org/10.21105/joss.05753"}, "language": "en", "primary_location":
        {"id": "doi:10.21105/joss.05753", "is_oa": true, "landing_page_url": "https://doi.org/10.21105/joss.05753",
        "pdf_url": "https://joss.theoj.org/papers/10.21105/joss.05753.pdf", "source":
        {"id": "https://openalex.org/S4210214273", "display_name": "The Journal of
        Open Source Software", "issn_l": "2475-9066", "issn": ["2475-9066"], "is_oa":
        true, "is_in_doaj": true, "is_core": true, "host_organization": "https://openalex.org/P4310315853",
        "host_organization_name": "Open Journals", "host_organization_lineage": ["https://openalex.org/P4310315853"],
        "host_organization_lineage_names": ["Open Journals"], "type": "journal"},
        "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by", "version":
        "publishedVersion", "is_accepted": true, "is_published": true, "raw_source_name":
        "Journal of Open Source Software", "raw_type": "journal-article"}, "type":
        "article", "indexed_in": ["crossref", "doaj"], "open_access": {"is_oa": true,
        "oa_status": "diamond", "oa_url": "https://joss.theoj.org/papers/10.21105/joss.05753.pdf",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5004806463", "display_name":
        "Nicolas Casajus", "orcid": "https://orcid.org/0000-0002-5537-5294"}, "institutions":
        [], "countries": [], "is_corresponding": true, "raw_author_name": "Nicolas
        Casajus", "raw_affiliation_strings": ["1 - , , ,"], "raw_orcid": "https://orcid.org/0000-0002-5537-5294",
        "affiliations": [{"raw_affiliation_string": "1 - , , ,", "institution_ids":
        []}]}, {"author_position": "middle", "author": {"id": "https://openalex.org/A5034881512",
        "display_name": "\u00c9rica Rievrs Borges", "orcid": "https://orcid.org/0000-0001-7751-6265"},
        "institutions": [], "countries": [], "is_corresponding": false, "raw_author_name":
        "\u00c9rica Rievrs Borges", "raw_affiliation_strings": ["1 - , , ,"], "raw_orcid":
        "https://orcid.org/0000-0001-7751-6265", "affiliations": [{"raw_affiliation_string":
        "1 - , , ,", "i[...]
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=doi%3A10.21105%2Fjoss.05753&per-page=200&mailto=anonymous%40mail.com&cursor=%2A
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9923'
      x-ratelimit-remaining-usd: '0.9923'
      x-ratelimit-reset: '67409'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 24, "page": null, "per_page":
        200, "next_cursor": null, "groups_count": null, "cost_usd": 0.0001}, "results":
        [{"id": "https://openalex.org/W4387609797", "doi": "https://doi.org/10.21105/joss.05753",
        "title": "chessboard: An R package for creating networkconnections based on
        chess moves", "display_name": "chessboard: An R package for creating networkconnections
        based on chess moves", "publication_year": 2023, "publication_date": "2023-10-13",
        "ids": {"openalex": "https://openalex.org/W4387609797", "doi":[...]
