http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/authors?search=Nicolas&sort=relevance_score%3Adesc&select=display_name%2Cid%2Corcid%2Cworks_count&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8605'
      x-ratelimit-remaining-usd: '0.8605'
      x-ratelimit-reset: '43487'
    body:
      string: '{"meta": {"count": 63581, "db_response_time_ms": 111, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [{"display_name":
        "Nicholas J. Wareham", "id": "https://openalex.org/A5100717719", "orcid":
        "https://orcid.org/0000-0003-1422-2993", "works_count": 1730}], "group_by":
        []}'
  recorded_at: 2026-05-27 11:55:13
- request:
    method: GET
    uri: https://api.openalex.org/authors?search=Nicolas&sort=relevance_score%3Adesc&select=display_name%2Cid%2Corcid%2Cworks_count&per-page=20&mailto=anonymous%40mail.com&page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-[...]
