http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACitation+self-awareness+for+a+fairer+academic+publishing+landscape&sort=relevance_score%3Adesc&select=doi%2Cdisplay_name%2Cpublication_year%2Cprimary_location&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '7979'
      x-ratelimit-remaining-usd: '0.7979'
      x-ratelimit-reset: '26732'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 15, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [{"doi": "https://doi.org/10.1093/biosci/biag028",
        "display_name": "Citation self-awareness for a fairer academic publishing
        landscape", "publication_year": 2026, "primary_location": {"id": "doi:10.1093/biosci/biag028",
        "is_oa": true, "landing_page_url": "https://doi.org/10.1093/biosci/biag028",
        "pdf_url": null, "source": {"id": "https://openalex.org/S121830084", "display_name":
        "BioScience", "issn_l": "0006-3568", "issn": ["0006-3568", "1525-3244"], "is_oa":
        false, "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4310311648",
        "host_organization_name": "Oxford University Press", "host_organization_lineage":
        ["https://openalex.org/P4310311648", "https://openalex.org/P4310311647"],
        "host_organization_lineage_names": ["Oxford University Press", "University
        of Oxford"], "type": "journal"}, "license": "cc-by", "license_id": "https://openalex.org/licenses/cc-by",
        "version": "publishedVersion", "is_accepted": true, "is_published": true,
        "raw_source_name": "BioScience", "raw_type": "journal-article"}}], "group_by":
        []}'
  recorded_at: 2026-05-25 16:34:28
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACitation+self-awareness+for+a+fairer+academic+publishing+landscape&sort=relevance_score%3Adesc&select=doi%2Cdisplay_name%2Cpublication_year%2Cprimary_location&per-page=10&mailto=anonymous%40mail.com&page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-lim[...]
