http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACitation+landscape&sort=relevance_score%3Adesc&select=doi%2Cdisplay_name%2Cpublication_year%2Cprimary_location&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8545'
      x-ratelimit-remaining-usd: '0.8545'
      x-ratelimit-reset: '43481'
    body:
      string: '{"meta": {"count": 114, "db_response_time_ms": 241, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [{"doi": "https://doi.org/10.1016/j.datak.2008.05.004",
        "display_name": "The thematic and citation landscape of Data and Knowledge
        Engineering (1985\u20132007)", "publication_year": 2008, "primary_location":
        {"id": "doi:10.1016/j.datak.2008.05.004", "is_oa": false, "landing_page_url":
        "https://doi.org/10.1016/j.datak.2008.05.004", "pdf_url": null, "source":
        {"id": "https://openalex.org/S136993123", "display_name": "Data & Knowledge
        Engineering", "issn_l": "0169-023X", "issn": ["0169-023X", "1872-6933"], "is_oa":
        false, "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4310320990",
        "host_organization_name": "Elsevier BV", "host_organization_lineage": ["https://openalex.org/P4310320990"],
        "host_organization_lineage_names": ["Elsevier BV"], "type": "journal"}, "license":
        null, "license_id": null, "version": "publishedVersion", "is_accepted": true,
        "is_published": true, "raw_source_name": "Data &amp; Knowledge Engineering",
        "raw_type": "journal-article"}}], "group_by": []}'
  recorded_at: 2026-05-27 11:55:19
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3ACitation+landscape&sort=relevance_score%3Adesc&select=doi%2Cdisplay_name%2Cpublication_year%2Cprimary_location&per-page=10&mailto=anonymous%40mail.com&page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining:[...]
