http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/authors?search=Nicolas+Casajus&sort=relevance_score%3Adesc&select=display_name%2Cid%2Corcid%2Cworks_count&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8645'
      x-ratelimit-remaining-usd: '0.8645'
      x-ratelimit-reset: '43490'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 336, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [{"display_name":
        "Nicolas Casajus", "id": "https://openalex.org/A5004806463", "orcid": "https://orcid.org/0000-0002-5537-5294",
        "works_count": 102}], "group_by": []}'
  recorded_at: 2026-05-27 11:55:11
- request:
    method: GET
    uri: https://api.openalex.org/authors?search=Nicolas+Casajus&sort=relevance_score%3Adesc&select=display_name%2Cid%2Corcid%2Cworks_count&per-page=10&mailto=anonymous%40mail.com&page=1
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8635'
      x-ratelimit-remaining-usd: '0.8635'
      x-ratelimit-reset: '43489'
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 39, "page": 1, "per_page":
        10, "groups_count": null, "cost_usd": 0.001}, "results": [{"display_name":
        "Nicolas Casajus", "id": "https://openalex.org/A5004806463", "orcid": "https://orcid.org/0000-0002-5537-5294",
        "works_count": 102}], "group_by": []}'
  recorded_at: 2026-05-27 11:55:11
recorded_with: VCR-vcr/2.1.0
