http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id%3AA99999999999&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.0001'
      x-ratelimit-credits-used: '1'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '9984'
      x-ratelimit-remaining-usd: '0.9984'
      x-ratelimit-reset: '68767'
    body:
      string: '{"meta": {"count": 0, "db_response_time_ms": 10, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.0001}, "results": [], "group_by": []}'
  recorded_at: 2026-05-27 04:53:53
recorded_with: VCR-vcr/2.1.0
