http_interactions:
- request:
    method: GET
    uri: https://api.openalex.org/works?filter=title.search%3Akjdhfgvlzjegvz&sort=relevance_score%3Adesc&select=doi%2Cdisplay_name%2Cpublication_year%2Cprimary_location&per-page=1&mailto=anonymous%40mail.com
  response:
    status: 200
    headers:
      content-type: application/json
      x-ratelimit-cost-usd: '0.001'
      x-ratelimit-credits-used: '10'
      x-ratelimit-limit: '10000'
      x-ratelimit-limit-usd: '1'
      x-ratelimit-onetime-remaining: '0'
      x-ratelimit-prepaid-remaining-usd: '0'
      x-ratelimit-remaining: '8393'
      x-ratelimit-remaining-usd: '0.8393'
      x-ratelimit-reset: '29325'
    body:
      string: '{"meta": {"count": 0, "db_response_time_ms": 5, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [], "group_by": []}'
  recorded_at: 2026-05-25 15:51:15
recorded_with: VCR-vcr/2.1.0
